html {
	height: 100%;
}

.dropdown-menu {
	background-color: rgba(76, 209, 249, 0.8);
	font-size: 1em;
}

.dropdown-item:hover  {
	background-color: rgba(70, 200, 249, 0.8);
}

.dropdown-divider {
	border-color:  #D3F1E7;
}


body {
  background-image: url(https://images.unsplash.com/photo-1442291928580-fb5d0856a8f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
font-family: 'Lobster', cursive;
 }

 .navbar-brand {
	font-size: 2em;
}

.navbar {
	font-size: 1.5em;
	padding-top: 0.5px;
	padding-bottom: 1px;
}

div h1 {
	color: #040E2E;
	font-size: 5em;
}

div p {
	font-family: 'Lato', sans-serif;
	color: #040E2E;
	font-size: 2em;
}

